<div id="wrapper">
<div id="container">
  <div id="content_affiliate">
    <div class="c_align">
      <h2>Affiliate Tool</h2>
      <a href="/tools/affiliates/create" class="a_btn">Add New EC Site</a>
    </div><br>

    <table class="tbl_common center" border="0">
      <tr>
	<th>ID</th>
	<th>EC Site Name</th>
	<th>Link</th>
	<th>Status</th>
	<th>Price Tax</th>
	<th class="c_align">Action</th>
      </tr>
      <% @sites.each do | item | %>
      <tr class="item_<%= item[:id] %>">
	<td><%= item[:id] %></td>
	<td><%= item[:name] %></td>
	<td>
	  <a href="<%= item[:link] %>" target="blank"><%= item[:link] %></a>
	</td>
	<td><% if item[:status] == 0 %>処理中<% else %>完了<% end %></td>
	<td>
	  Normal: <% if item[:price_tax] == 0 %>税抜き<% else %>税込<% end %><br>
	  Discounted: <% if item[:price_discount_tax] == 0 %>税抜き<% else %>税込<% end %>
	</td>
	<td class="c_align">
	  <input type="button" class="edit_item" data-id="<%= item[:id] %>" value="編集" /> | 
	  <input type="button" class="delete_item" data-id="<%= item[:id] %>" value="削除" />
	</td>
      </tr>
      <% end %>
    </table>
  </div> <!-- content_affiliate -->
</div> <!-- container -->
</div> <!-- wrapper -->

<script type="text/javascript">

$('.delete_item').click(function() {
  var site_id = ($(this).attr('data-id')); //get attributes of clicked item

  if (confirm("Are you sure you want to delete this item?")) {
    $.post("/tools/affiliates/delete/complete", { 'id': site_id }); //send post request
    $(".item_" + site_id).remove(); //remove item upon deletion
  }
  return false; //do nothing
});

$('.edit_item').click(function() {
  var site_id = ($(this).attr('data-id'));
  window.location.href = "/tools/affiliates/edit/"+site_id; //redirect to assigned url
});

</script>
